@use '../../custom' as *;
@use '../../components/mixin' as *;

#partner {
    .row {
        img {
            max-width: 100%;
            height: 2rem;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
